<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细消息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <connectionStrings>
    <!--<add name="sqlCon" connectionString="server=127.0.0.1;database=Device;uid=sa;pwd=888;Connect Timeout=500;"/>-->
    <add name="bakpath" connectionString="d:\database\" />
    <add name="sqlCon" connectionString="server=(local);database=Hengan;uid=sa;pwd=888;Connect Timeout=0;" />
  </connectionStrings>
    <system.web>
      <httpRuntime requestValidationMode="2.0" maxRequestLength="40960" executionTimeout="3600" />
      <pages validateRequest="false"/>
        <compilation debug="true" targetFramework="4.0" />
      <!--<httpRuntime requestValidationMode="2.0"/>-->
    </system.web>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="login.html" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>


